/.vs/gl3engine/v14/*.suo
/gl3engine.vcxproj.user
/obj
/*.opendb
/gl3engine.exe
/gl3engine.log
/gl3engine.sdf
/.vs
/gl3engine-vs.exe
/gl3engine-vs.ilk
/gl3engine-vs.pdb
/gl3engine-vs.vcxproj.user
*.user
/gl4engine-vs.exe
/gl4engine-vs.ilk
/gl4engine-vs.pdb
/gl4engine.exe
/gl4engine.log
/gl4engine.sdf
/example1/Debug
/bin/example1-vs.exe
/bin/example1-vs.ilk
/bin/example1-vs.pdb
/bin/example1.exe
/bin/gl4e.a
/bin/gl4engine-vs.lib
/bin/gl4engine-vs.pdb
