/.vs/gl3engine/v14/*.suo
/gl3engine.vcxproj.user
/obj
/*.opendb
/gl3engine.exe
/gl3engine.log
/gl3engine.sdf
/.vs
/gl3engine-vs.exe
/gl3engine-vs.ilk
/gl3engine-vs.pdb
/gl3engine-vs.vcxproj.user
*.user
